In [115]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_recall_fscore_support
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
import matplotlib.pyplot as plt

In [147]:
data = pd.read_csv('memory.csv')
data.head(30)

    BAY  BAM  BTM  Gender  Score  AY  AM  ATM    D   RLD
0     5    0    60      F      6   6   6   78   18  Well
1     5    0    60      F      7   6   6   78   18  Well
2     5    0    60      F      8   7   0   84   24  Well
3     5    0    60      F      9   7   6   90   30  Well
4     5    0    60      F     10   8   6  102   42  Well
5     5    0    60      F     11  10   0  120   60  Well
6     5    0    60      F     12  11   6  138   78  Well
7     5    0    60      F     13  12   6  150   90  Well
8     5    0    60      F     14  14   0  168  108  Well
9     5    0    60      F     15  16   0  192  132  Well
10    5    1    61      F      6   6   6   78   17  Well
11    5    1    61      F      7   6   6   78   17  Well
12    5    1    61      F      8   7   0   84   23  Well
13    5    1    61      F      9   7   6   90   29  Well
14    5    1    61      F     10   8   6  102   41  Well
15    5    1    61      F     11  10   0  120   59  Well
16    5    1    61      F     12  11   6  138   77  Well
17    5    1    61      F     13  12   6  150   89  Well
18    5    1    61      F     14  14   0  168  107  Well
19    5    1    61      F     15  16   0  192  131  Well
20    5    2    62      F      6   6   6   78   16  Well
21    5    2    62      F      7   6   6   78   16  Well
22    5    2    62      F      8   7   0   84   22  Well
23    5    2    62      F      9   7   6   90   28  Well
24    5    2    62      F     10   8   6  102   40  Well
25    5    2    62      F     11  10   0  120   58  Well
26    5    2    62      F     12  11   6  138   76  Well
27    5    2    62      F     13  12   6  150   88  Well
28    5    2    62      F     14  14   0  168  106  Well
29    5    2    62      F     15  16   0  192  130  Well

In [148]:
data = data.sample(frac=1).reset_index(drop=True)

In [149]:
data.isna().sum()

BAY       0
BAM       0
BTM       0
Gender    0
Score     0
AY        0
AM        0
ATM       0
D         0
RLD       0
dtype: int64

In [150]:
LE = LabelEncoder()
CateList = data.select_dtypes(exclude="int64").columns
print(CateList)

Index(['Gender', 'RLD'], dtype='object')

In [151]:
for i in CateList:
    data[i] = LE.fit_transform(data[i])

In [152]:
LE.classes_

array(['Good', 'Mild', 'Neutral', 'Severe', 'Well'], dtype=object)

In [153]:
data.head()

   BAY  BAM  BTM   Gender  Score  AY  AM  ATM    D  RLD
0    5    7    67       0     14  14   0  168  101    4
1    7    1    85       1      7   6   6   78   -7    3
2   12    4   148       1      9   7   6   90  -58    3
3   15    9   189       1      9   7   6   90  -99    3
4    9    3   111       0     12  11   6  138   27    4

In [154]:
data = data.drop(['BAY','BAM','Gender','AY','AM','D','RLD'], axis=1)

In [155]:
data.head()

   BTM   Score  ATM
0    67     14  168
1    85      7   78
2   148      9   90
3   189      9   90
4   111     12  138

In [156]:
data.columns

Index(['BTM ', 'Score', 'ATM'], dtype='object')

In [157]:
data = data(['Score','ATM'])

TypeError: ignored

In [158]:
data = data.iloc[:,1:]

In [159]:
data.head()

   Score  ATM
0     14  168
1      7   78
2      9   90
3      9   90
4     12  138

In [133]:
df = data.iloc[:,:-1]
mm = MinMaxScaler()
mm.fit(df[:])

MinMaxScaler(copy=True, feature_range=(0, 1))

In [134]:
df[:]= mm.transform(df[:])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1734: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value[:, i].tolist())

In [135]:
df.head()

      Score
0  1.000000
1  0.777778
2  1.000000
3  0.888889
4  0.777778

In [136]:
X = df.values
y = data['ATM'].values
print(X.shape, y.shape)

(1680, 1) (1680,)

In [137]:
from sklearn.tree import DecisionTreeRegressor

In [138]:
clf = DecisionTreeRegressor(criterion="mse", splitter="best")
clf.fit(X, y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [139]:
pred = clf.predict(X)

In [140]:
from sklearn.metrics import mean_squared_error

In [141]:
mean_squared_error(y, pred)

0.0

In [69]:
print("Training Accuracy (Decision Tree):",acc)

Training Accuracy (Ada Boost): 1.0

In [142]:
from sklearn.externals import joblib

In [143]:
joblib.dump(clf, 'memory1.pkl') 
loaded_model = joblib.load('memory1.pkl')

In [161]:
joblib.dump(mm, 'memory_mm1.pkl')
m = joblib.load('memory_mm1.pkl')

In [162]:
m.data_max_

array([15.])

In [163]:
m.data_min_

array([6.])

In [164]:
df = data.iloc[:,:-1]
df[:]= m.transform(df[:])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1734: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value[:, i].tolist())

In [166]:
X = df.values
y = data['ATM'].values
print(X.shape, y.shape)

(3360, 1) (3360,)

In [167]:
pred = loaded_model.predict(X)

In [168]:
mean_squared_error(y, pred)

0.0

In [106]:
acc

1.0