In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_recall_fscore_support
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
import matplotlib.pyplot as plt

In [87]:
data = pd.read_csv('memory.csv')
data.head(30)

    BAY  BAM  BTM  Gender  Score  AY  AM  ATM    D   RLD
0     5    0    60      F      6   6   6   78   18  Well
1     5    0    60      F      7   6   6   78   18  Well
2     5    0    60      F      8   7   0   84   24  Well
3     5    0    60      F      9   7   6   90   30  Well
4     5    0    60      F     10   8   6  102   42  Well
5     5    0    60      F     11  10   0  120   60  Well
6     5    0    60      F     12  11   6  138   78  Well
7     5    0    60      F     13  12   6  150   90  Well
8     5    0    60      F     14  14   0  168  108  Well
9     5    0    60      F     15  16   0  192  132  Well
10    5    1    61      F      6   6   6   78   17  Well
11    5    1    61      F      7   6   6   78   17  Well
12    5    1    61      F      8   7   0   84   23  Well
13    5    1    61      F      9   7   6   90   29  Well
14    5    1    61      F     10   8   6  102   41  Well
15    5    1    61      F     11  10   0  120   59  Well
16    5    1    61      F     12  11   6  138   77  Well
17    5    1    61      F     13  12   6  150   89  Well
18    5    1    61      F     14  14   0  168  107  Well
19    5    1    61      F     15  16   0  192  131  Well
20    5    2    62      F      6   6   6   78   16  Well
21    5    2    62      F      7   6   6   78   16  Well
22    5    2    62      F      8   7   0   84   22  Well
23    5    2    62      F      9   7   6   90   28  Well
24    5    2    62      F     10   8   6  102   40  Well
25    5    2    62      F     11  10   0  120   58  Well
26    5    2    62      F     12  11   6  138   76  Well
27    5    2    62      F     13  12   6  150   88  Well
28    5    2    62      F     14  14   0  168  106  Well
29    5    2    62      F     15  16   0  192  130  Well

In [88]:
data = data.sample(frac=1).reset_index(drop=True)

In [89]:
data.isna().sum()

BAY       0
BAM       0
BTM       0
Gender    0
Score     0
AY        0
AM        0
ATM       0
D         0
RLD       0
dtype: int64

In [90]:
LE = LabelEncoder()
CateList = data.select_dtypes(exclude="int64").columns
print(CateList)

Index(['Gender', 'RLD'], dtype='object')

In [91]:
for i in CateList:
    data[i] = LE.fit_transform(data[i])

In [92]:
LE.classes_

array(['Good', 'Mild', 'Neutral', 'Severe', 'Well'], dtype=object)

In [93]:
data.head()

   BAY  BAM  BTM   Gender  Score  AY  AM  ATM    D  RLD
0   14    9   177       1     12  11   6  138  -39    3
1   12    8   152       0     12  11   6  138  -14    3
2   17    3   207       1      7   6   6   78 -129    3
3   13    5   161       1      9   7   6   90  -71    3
4   12    9   153       0     12  11   6  138  -15    3

In [94]:
data = data.drop(['BAY','BAM','Gender','AY','AM','ATM','D'], axis=1)

In [95]:
data.head()

   BTM   Score  RLD
0   177     12    3
1   152     12    3
2   207      7    3
3   161      9    3
4   153     12    3

In [96]:
data = data.drop_duplicates()

In [82]:
df = data.iloc[:,:-1]
mm = MinMaxScaler()
df[:]= mm.fit(df[:])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [83]:
df.head()

                                            BTM                                           Score
0  MinMaxScaler(copy=True, feature_range=(0, 1))  MinMaxScaler(copy=True, feature_range=(0, 1))
1  MinMaxScaler(copy=True, feature_range=(0, 1))  MinMaxScaler(copy=True, feature_range=(0, 1))
2  MinMaxScaler(copy=True, feature_range=(0, 1))  MinMaxScaler(copy=True, feature_range=(0, 1))
3  MinMaxScaler(copy=True, feature_range=(0, 1))  MinMaxScaler(copy=True, feature_range=(0, 1))
4  MinMaxScaler(copy=True, feature_range=(0, 1))  MinMaxScaler(copy=True, feature_range=(0, 1))

In [53]:
X = df.values
y = data['RLD'].values
print(X.shape, y.shape)

(1680, 2) (1680,)

In [66]:
from sklearn.tree import DecisionTreeClassifier

In [67]:
clf = DecisionTreeClassifier(criterion="gini")
clf.fit(X, y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [68]:
pred = clf.predict(X)
acc = accuracy_score(y, pred)

In [69]:
print("Training Accuracy (Decision Tree):",acc)

Training Accuracy (Ada Boost): 1.0

In [70]:
from sklearn.externals import joblib

/usr/local/lib/python3.6/dist-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

In [71]:
joblib.dump(clf, 'memory.pkl') 
loaded_model = joblib.load('memory.pkl')

In [84]:
joblib.dump(mm, 'memory_mm.pkl')
m = joblib.load('memory_mm.pkl')

In [85]:
m.data_max_

array([227.,  15.])

In [86]:
m.data_min_

array([60.,  6.])

In [102]:
df = data.iloc[:,:-1]
m = MinMaxScaler()
df[:]= m.fit_transform(df[:])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1734: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value[:, i].tolist())

In [103]:
X = df.values
y = data['RLD'].values
print(X.shape, y.shape)

(1680, 2) (1680,)

In [104]:
pred = loaded_model.predict(X)

In [105]:
acc = accuracy_score(y, pred)

In [106]:
acc

1.0