In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_recall_fscore_support
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv('memory - Copy.csv')
data.head(30)

    BAY  BAM Gender  Score  AY  AM     ALD
0    13    7      F      8   7   0  Severe
1    13   10      F      9   7   6  Severe
2     6    0      M     12  11   6    Well
3    12    2      M     13  12   6    Good
4     7    7      F     12  11   6    Well
5    14   11      F     12  11   6  Severe
6    13    4      F      6   6   6  Severe
7    14    5      F      6   6   6  Severe
8    10    3      F      7   6   6  Severe
9    18    7      F      8   7   0  Severe
10   15    4      F     10   8   6  Severe
11   10    3      F     13  12   6    Well
12   18    9      M      8   7   0  Severe
13   12    6      F     10   8   6  Severe
14    9   10      F      8   7   0  Severe
15    5    9      M     12  11   6    Well
16   16   11      M      7   6   6  Severe
17   15    5      M      6   6   6  Severe
18   17   11      F     15  16   0  Severe
19   12    3      M      9   7   6  Severe
20    6    7      M     12  11   6    Well
21   17    5      M     12  11   6  Severe
22    5    7      F      6   6   6    Well
23    8    9      F     12  11   6    Well
24    8    2      M      8   7   0  Severe
25   16    4      M     15  16   0    Mild
26   17    5      M     11  10   0  Severe
27   14    1      F      9   7   6  Severe
28    9    8      F     14  14   0    Well
29    7    4      F     12  11   6    Well

In [ ]:
data = data.sample(frac=1).reset_index(drop=True)

In [ ]:
data.isna().sum()

BAY       0
BAM       0
Gender    0
Score     0
AY        0
AM        0
ALD       0
dtype: int64

In [ ]:
data['BTM'] = data['BAY']*12+data['BAM']
data['ATM'] = data['AY']*12+data['AM']

In [ ]:
data = data.drop(['BAY','BAM','AY','AM'], axis=1)

In [ ]:
data = data.drop(['ATM','Gender'], axis=1)

In [ ]:
data.head()

   Score     ALD  BTM
0      9  Severe   99
1     11    Mild  121
2      8  Severe  114
3     12    Well   74
4     13    Well  129

In [ ]:
LE = LabelEncoder()
CateList = data.select_dtypes(include="object").columns
print(CateList)

Index(['ALD'], dtype='object')

In [ ]:
for i in CateList:
    data[i] = LE.fit_transform(data[i])

In [ ]:
LE.classes_

array(['Good', 'Mild', 'Neutral', 'Severe', 'Well'], dtype=object)

In [ ]:
data.head()

   Score  ALD  BTM
0      9    3   99
1     11    1  121
2      8    3  114
3     12    4   74
4     13    4  129

In [ ]:
data = data.drop_duplicates()

In [ ]:
data1 = data['Score']

In [ ]:
data = data.drop(['Score'], axis=1)

In [ ]:
df = data
mm = MinMaxScaler()
df[:]= mm.fit_transform(df[:])

In [ ]:
df.head()

    ALD       BTM
0  0.75  0.233533
1  0.25  0.365269
2  0.75  0.323353
3  1.00  0.083832
4  1.00  0.413174

In [ ]:
X = df.values
y = data1.values
print(X.shape, y.shape)

(1680, 2) (1680,)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 123)

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
clf = DecisionTreeClassifier(criterion="gini")
clf.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
pred = clf.predict(X_train)
acc = accuracy_score(y_train, pred)

In [ ]:
print("Training Accuracy (Decision Tree):",acc)

Training Accuracy (Decision Tree): 1.0

In [ ]:
pred1 = clf.predict(X_test)
acc1 = accuracy_score(y_test, pred1)
print("Testing Accuracy:",acc1)

Testing Accuracy: 0.969047619047619

In [ ]:
from sklearn.externals import joblib

/usr/local/lib/python3.6/dist-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
joblib.dump(clf, 'memory.pkl') 
loaded_model = joblib.load('memory.pkl')

In [ ]:
joblib.dump(mm, 'memory_mm.pkl')
m = joblib.load('memory_mm.pkl')

In [ ]:
m.data_max_

array([227.,  15.])

In [ ]:
m.data_min_

array([60.,  6.])

In [ ]:
df = data.iloc[:,:-1]
m = MinMaxScaler()
df[:]= m.fit_transform(df[:])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1734: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value[:, i].tolist())

In [ ]:
pred = loaded_model.predict(X_train)

In [ ]:
acc = accuracy_score(y_train, pred)

In [ ]:
acc

1.0