In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_recall_fscore_support
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
import matplotlib.pyplot as plt

In [20]:
data = pd.read_csv('memory - Copy.csv')
data.head(30)

    BAY  BAM Gender  Score  AY  AM     ALD
0    13    7      F      8   7   0  Severe
1    13   10      F      9   7   6  Severe
2     6    0      M     12  11   6    Well
3    12    2      M     13  12   6    Good
4     7    7      F     12  11   6    Well
5    14   11      F     12  11   6  Severe
6    13    4      F      6   6   6  Severe
7    14    5      F      6   6   6  Severe
8    10    3      F      7   6   6  Severe
9    18    7      F      8   7   0  Severe
10   15    4      F     10   8   6  Severe
11   10    3      F     13  12   6    Well
12   18    9      M      8   7   0  Severe
13   12    6      F     10   8   6  Severe
14    9   10      F      8   7   0  Severe
15    5    9      M     12  11   6    Well
16   16   11      M      7   6   6  Severe
17   15    5      M      6   6   6  Severe
18   17   11      F     15  16   0  Severe
19   12    3      M      9   7   6  Severe
20    6    7      M     12  11   6    Well
21   17    5      M     12  11   6  Severe
22    5    7      F      6   6   6    Well
23    8    9      F     12  11   6    Well
24    8    2      M      8   7   0  Severe
25   16    4      M     15  16   0    Mild
26   17    5      M     11  10   0  Severe
27   14    1      F      9   7   6  Severe
28    9    8      F     14  14   0    Well
29    7    4      F     12  11   6    Well

In [21]:
data = data.sample(frac=1).reset_index(drop=True)

In [22]:
data.isna().sum()

BAY       0
BAM       0
Gender    0
Score     0
AY        0
AM        0
ALD       0
dtype: int64

In [23]:
data['BTM'] = data['BAY']*12+data['BAM']
data['ATM'] = data['AY']*12+data['AM']

In [24]:
data = data.drop(['BAY','BAM','AY','AM'], axis=1)

In [25]:
data.head()

  Gender  Score     ALD  BTM  ATM
0      M     15    Mild  193  192
1      F     12  Severe  215  138
2      M     11    Well   79  120
3      F      8  Severe  150   84
4      F     14    Well  104  168

In [26]:
LE = LabelEncoder()
CateList = data.select_dtypes(include="object").columns
print(CateList)

Index(['Gender', 'ALD'], dtype='object')

In [27]:
for i in CateList:
    data[i] = LE.fit_transform(data[i])

In [28]:
LE.classes_

array(['Good', 'Mild', 'Neutral', 'Severe', 'Well'], dtype=object)

In [29]:
data.head()

   Gender  Score  ALD  BTM  ATM
0       1     15    1  193  192
1       0     12    3  215  138
2       1     11    4   79  120
3       0      8    3  150   84
4       0     14    4  104  168

In [30]:
data = data.drop(['Gender','ALD','BTM'], axis=1)

In [31]:
data.head()

   Score  ATM
0     15  192
1     12  138
2     11  120
3      8   84
4     14  168

In [32]:
data.columns

Index(['Score', 'ATM'], dtype='object')

In [33]:
df = data.iloc[:,:-1]
mm = MinMaxScaler()
mm.fit(df[:])

MinMaxScaler(copy=True, feature_range=(0, 1))

In [34]:
df[:]= mm.transform(df[:])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1734: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value[:, i].tolist())

In [35]:
df.head()

      Score
0  1.000000
1  0.666667
2  0.555556
3  0.222222
4  0.888889

In [36]:
X = df.values
y = data['ATM'].values
print(X.shape, y.shape)

(3360, 1) (3360,)

In [37]:
from sklearn.tree import DecisionTreeRegressor

In [38]:
clf = DecisionTreeRegressor(criterion="mse", splitter="best")
clf.fit(X, y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [39]:
pred = clf.predict(X)

In [40]:
from sklearn.metrics import mean_squared_error

In [44]:
acc = mean_squared_error(y, pred)

In [46]:
print("MSE (Decision Tree):",acc)

MSE (Decision Tree): 0.843867868116229

In [47]:
from sklearn.externals import joblib

In [48]:
joblib.dump(clf, 'memory1.pkl') 
loaded_model = joblib.load('memory1.pkl')

In [49]:
joblib.dump(mm, 'memory_mm1.pkl')
m = joblib.load('memory_mm1.pkl')

In [50]:
m.data_max_

array([15.])

In [51]:
m.data_min_

array([6.])

In [ ]:
df = data.iloc[:,:-1]
df[:]= m.transform(df[:])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1734: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value[:, i].tolist())

In [ ]:
X = df.values
y = data['ATM'].values
print(X.shape, y.shape)

(3360, 1) (3360,)

In [ ]:
pred = loaded_model.predict(X)

In [ ]:
mean_squared_error(y, pred)

0.843867868116229